version: 2.1
orbs:
    node: circleci/node@4.1.0
    browser-tools: circleci/browser-tools@1.1.0
jobs:
    build-and-test:
        executor:
            name: node/default
            tag: 'lts'
        steps:
            - browser-tools/install-chrome
            - browser-tools/install-chromedriver
            - checkout
            - run: yarn build:ci
            - run: yarn test:ci
            - run: yarn codecov
workflows:
    build-and-test:
        jobs:
            - build-and-test
