version: 2.1
orbs:
    node: circleci/node@4.7.0
    browser-tools: circleci/browser-tools@1.2.3
jobs:
    build-and-test:
        executor:
            name: node/default
            # TODO: switch back to 'lts'. Temp workaround for issues with lts v16.
            # https://github.com/salesforce/sa11y/issues/82
            tag: '14.18.1'
        steps:
            - browser-tools/install-chrome
            - browser-tools/install-chromedriver
            - checkout
            - run: yarn build:ci
            - run: yarn test:ci
            - run: yarn codecov
workflows:
    build-and-test:
        jobs:
            - build-and-test
