version: 2.1
orbs:
    node: circleci/node@3.0.0
    browser-tools: circleci/browser-tools@1.0.1
jobs:
    build-and-test:
        executor:
            name: node/default
            tag: 'lts'
        steps:
            - browser-tools/install-chrome
            - browser-tools/install-chromedriver
            - checkout
            - run: yarn build:ci
            - run: yarn test:ci
            - store_artifacts:
                  path: coverage
workflows:
    build-and-test:
        jobs:
            - build-and-test
