version: 2.1
orbs:
    node: circleci/node@5.0.2
    browser-tools: circleci/browser-tools@1.4.0
    codecov: codecov/codecov@3.2.3
jobs:
    build-and-test:
        executor:
            name: node/default
            # TODO: switch back to 'lts'. Temp workaround for issues with lts v16.
            # https://github.com/salesforce/sa11y/issues/82
            tag: '14.18.1'
        steps:
            - browser-tools/install-chrome
            - browser-tools/install-chromedriver
            - checkout
            - run: yarn build:ci
            - run:
                  command: yarn test:ci
                  environment:
                      JEST_JUNIT_OUTPUT_DIR: ./reports/
            - store_test_results:
                  path: ./reports/
            - codecov/upload
workflows:
    build-and-test:
        jobs:
            - build-and-test
