version: 2.1
orbs:
    node: circleci/node@3.0.0
    browser-tools: circleci/browser-tools@1.0.1
jobs:
    build-and-test:
        executor:
            name: node/default
            tag: 'lts'
        steps:
            - browser-tools/install-chrome
            - browser-tools/install-chromedriver
            - checkout
            # CircleCI seems to mess with master ref which causes lint:version check to fail
            - run: git branch -f master origin/master
            - run: yarn build:ci
            - run: yarn test:ci
            - run: yarn codecov
workflows:
    build-and-test:
        jobs:
            - build-and-test
