# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
    push:
        branches: [master, alpha, beta]
    pull_request:
        branches: [master]

permissions:
    id-token: write # Required for OIDC
    contents: read

jobs:
    lint-build-test:
        name: Lint, Build, Test - Node ${{ matrix.node-version }} on ${{ matrix.os }}

        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                node-version:
                    - 20.x
                    - 22.x
                    - 24.x
                os:
                    - ubuntu-latest

        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'yarn'

            - run: yarn install --frozen-lockfile
            - run: yarn build:ci
            - run: yarn test:ci

            - uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4.6.0
    release:
        name: Release
        needs: lint-build-test # previous job MUST pass to make a release!
        runs-on: ubuntu-latest

        # Skip running release workflow on forks
        if: github.repository_owner == 'salesforce' && github.event_name == 'push'

        permissions:
            contents: write # to be able to publish a GitHub release
            issues: write # to be able to comment on released issues
            pull-requests: write # to be able to comment on released pull requests
            id-token: write # Required for OIDC

        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
              with:
                  fetch-depth: 0 # Need all git history & tags to determine next release version.
                  persist-credentials: false
            - name: Use Node.js 20.x
              uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
              with:
                  node-version: 20.x
                  cache: 'yarn'
                  registry-url: 'https://registry.npmjs.org'

            # Upgrade npm to latest for OIDC support
            - name: Upgrade npm
              run: npm install -g npm@latest

            - run: yarn install --frozen-lockfile
            - run: yarn build

            - name: Run semantic-release
              id: semantic-release
              run: yarn run semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            # npm publish runs directly in workflow step so OIDC works
            - name: Publish to npm with OIDC
              if: ${{ hashFiles('.release-created') != '' }}
              run: npm publish --workspaces --access public --provenance
