# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
    push:
        branches: [master, alpha, beta]
    pull_request:
        branches: [master]

jobs:
    lint-build-test:
        name: Lint, Build, Test - Node ${{ matrix.node-version }} on ${{ matrix.os }}

        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                node-version:
                    - 14.x
                    - 16.x
                os:
                    - ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'yarn'

            - run: yarn install --frozen-lockfile
            - run: yarn build:ci
            - run: yarn test:ci

            - uses: codecov/codecov-action@v3
    release:
        name: Release
        needs: lint-build-test # previous job MUST pass to make a release!
        runs-on: ubuntu-latest

        # Skip running release workflow on forks
        if: github.repository_owner == 'salesforce' && github.event_name == 'push'

        permissions:
            contents: write # to be able to publish a GitHub release
            issues: write # to be able to comment on released issues
            pull-requests: write # to be able to comment on released pull requests

        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0 # Need all git history & tags to determine next release version.
                  persist-credentials: false
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'yarn'
                  registry-url: 'https://registry.npmjs.org'

            - run: yarn install --frozen-lockfile
            - run: |
                  npm whoami
                  yarn run semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  NODE_AUTH_TOKEN: $${{ secrets.NPM_TOKEN }} # used by setup-node@v3 action
